.dragon-lair {
  height: calc(100vh - 72px);
  display: flex;
  align-items: center;
}

.dragon-lair__detail {
  width: 100%;
  background-color: silver;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dragon-lair__name {
  margin: 0;
  color: #73aa24;
}

.dragon-lair__info {
  margin: 8px 0 10px;
  font-size: 24px;
}

.dragon-lair__type,
.dragon-lair__creation-date {
  font-weight: bold;
  color: #2a3718;
}
