.dragon-card {
  border-radius: 8px;
  padding: 10px;
  background-color: silver;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  box-shadow: 0 2px 10px black;
}

.dragon-card__name {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 12px;
}

.dragon-card__actions {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 12px;
}
